@page "/GetNote"
@using Data.Model

<h3>Get Note</h3>

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row">
			<SfGrid DataSource="@GridData"
					AllowFiltering="true"
					AllowPaging="true"
					AllowSorting="true"
					@ref="SfGrid"
					Height="350px;"
					ContextMenuItems="@(new List<object>() {"Copy", "Edit", "Delete", "Save", "Cancel","PdfExport",})">
				<GridEvents TValue="Notes" OnActionBegin="OnActionBeginHandler"></GridEvents>
				<GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
				<GridPageSettings PageSize="5"></GridPageSettings>
				<GridTemplates>
					<ToolbarTemplate>
						<SfToolbar>
							<ToolbarEvents Clicked="ToolBarClickHandle"></ToolbarEvents>
							<ToolbarItems>
								<ToolbarItem Type="@ItemType.Button" Align="ItemAlign.Right" PrefixIcon="e-plus icon" Id="Add" Text="Add"></ToolbarItem>
								<ToolbarItem Type="@ItemType.Button" Align="ItemAlign.Right" PrefixIcon="e-edit icon" Id="Edit" Text="edit"></ToolbarItem>
								<ToolbarItem Type="@ItemType.Button" Align="ItemAlign.Right" PrefixIcon="e-delete icon" Id="Delete" Text="delete"></ToolbarItem>
								<ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
									<Template >
										<SfTextBox  Placeholder="Enter values to search"></SfTextBox>
										<span class="e-search-icon e-icons"></span>
									</Template>
								</ToolbarItem>
							</ToolbarItems>
						</SfToolbar>
					</ToolbarTemplate>
				</GridTemplates>
				<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" ShowDeleteConfirmDialog="true"></GridEditSettings>
				<GridColumns>
					<GridColumn Field=@nameof(Note.Id) HeaderText="Date Created" Format="d" IsPrimaryKey="true" Visible="false"></GridColumn>
					<GridColumn Field=@nameof(Note.Text) HeaderText="Text" TextAlign="TextAlign.None" Width=""></GridColumn>
					<GridColumn Field=@nameof(Note.DateCreated) HeaderText="Date Created" Format="d" Width=""></GridColumn>
				</GridColumns>
			</SfGrid>
		</div>
	</div>
</div>

@code {

}
